

body{
    background-color: #484069;
}
.main{
    background-color: #716B70;
    min-width: 30vw;
    max-width: fit-content;
    /* height: 30vh; */
    min-height: 30vh;
    max-height: fit-content;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    
    
    text-align: center;

     
     
}
.heading{
    font-size: xx-large;
    font-weight: 600;
    margin: 10px;
}
.main-2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
button{
    background-color: #B987AD;
    border-radius: 5px;
    font-size: larger;
}
.input{
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: larger;
}

.word-info{
    color: white;
    min-width: 25vw;
    max-width: fit-content;
}

.ans{
    color: black;
    font-size: larger;
    font-weight: normal;
}