

body{
    background-color: #484069;
}
.main{
    background-color: #716B70;
    width: 30vw;
    height: 30vh;
    border-radius: 30px;
    padding: 50px;
    margin: 50px;
    text-align: center;
    margin-left: 450px;
    margin-top: 200px;
     
}
.heading{
    font-size: xx-large;
    font-weight: 600;
}
.main-2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
button{
    background-color: #B987AD;
    border-radius: 5px;
    font-size: larger;
}
.input{
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: larger;
}